@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3{
  text-align: left;
  text-indent: 2em;
}
ul, ol {
  list-style-position: inside;
  text-align: left;
  text-indent: 3em;
}

#titulo{
    font-size: 45px;
}
.martel-semibold {
  font-family: "Martel", serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav > ul {
  color:rgb(255, 251, 217);
  list-style: none;
  padding-left: none;
  margin: 0;
  line-height: 2rem;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  -ms-flex-item-align: center;
}
#nv a {
  color: rgb(0, 0, 0); /* Cambia este valor por el color que desees */
  text-decoration: none; /* Opcional: quita el subrayado */
}

#nv a:hover {
  color: rgb(0, 0, 0); /* Color al pasar el mouse (hover), opcional */
}

.contenedor {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}
.leftcont{
    background-color: rgb(255, 251, 217);
    padding: 20px;
}
.perfil {
    text-align: center;
}
.videocont{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-cont iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.rigcont{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;

}
#photo{
    width:20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.mi-tabla {
  border-collapse: collapse; /* colapsa los bordes para un look más limpio */
  width: 100%; /* opcional: ocupa todo el ancho disponible */
}
.mi-tabla th,
.mi-tabla td {
  padding: 12px 16px; /* espacio interno: 12px arriba/abajo, 16px izquierda/derecha */
  text-align: left;   /* alinea el texto a la izquierda */
  border-bottom: 1px solid #ccc; /* línea entre filas (opcional) */
}
footer p{
    background-color: rgb(255, 251, 217);
    text-align: center;
    font-style: italic;
}